//mixin pour center les eliment avec enfant unique
@import "./variables/fonts";
@import "./variables/colors";

@mixin center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin childCener {
  display: flex;
  justify-self: center;
  align-items: center;
}
@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body {
  text-align: center;
  // font-family: "Oswald-Regular";
  background: $color6;
}
