$shadow-color: rgba(0, 0, 0, 0.42);

.most-books {
  background-color: white;
  margin-top: 64px;

  .container {
    .books {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 auto;

      .book {
        width: 18%;
        padding: 1em;
        margin: 10px;
        border: 0.5px solid #d2d2d2;
        border-radius: 10px;
        background-color: white;
        box-shadow: 5px 5px 15px -2px $shadow-color;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        .thumb-content {
          margin-top: auto;
        }
      }
    }

    .seemore-Btn {
      // Styles for the button
    }
  }
}

@media (min-width: 300px) {
  .most-books .container .books .book {
    width: 39%;
    height: 19%;
  }
}

@media (max-width: 600px) {
  .most-books .container .books .book {
    width: 44%;
    height: 19%;
  }
}
@media (max-width: 580px) {
  .most-books .container .books .book {
    width: 75%;
    height: 9%;
    margin-bottom: 50px;
  }
}
@media (min-width: 900px) {
  .most-books .container .books .book {
    width: 30%;
    height: 23%;
  }
}

@media (min-width: 1200px) {
  .most-books .container .books .book {
    width: 18%;
    height: 47%;
  }
}
