$color-primary: #ff6347;
$main-color: #efefef;
$background-color: #f6f6f6;

$color1: #ff4f8b;
$color2: #dff1ff;
$color3: #ff6347;
$color4: #00d2ff;
$color5: #fffd87;
$color6: rgba(255, 255, 255, 0.836);
$color7: rgba(0, 0, 0, 0.1);
$color8: #ffffff;
$color9: #ff73a5;
$primary: #fbceb5;
$black: #121416;
$white: #ffffff;
$colo10: lightskyblue;
$color-exit: red;
$color_11: #86bd57;
$color_12: #ffc000;
$font-family_1: cursive;
$color_1: #f5f5f5;
$color_2: #c8b20c;
$color_3: #d2d2d5;
$color_4: #5189ac;
$color_5: #08023d;
$color_6: black;
$color_7: rgb(1, 1, 1);
$color_8: rgb(38, 2, 82);
$color_9: rgb(207, 223, 24);
$color_10: rgb(0, 0, 0);
$color_11: #86bd57;
$color_12: #ffc000;
$font-family_1: cursive;
$background-color_1: gainsboro;
$background-color_2: rgb(223, 218, 218);
$background-color_3: rgb(235, 235, 235);
$background-color_4: whitesmoke;
$border-color_1: black;
